citation ranking data\new data\oa_c5rank_2020.csv.gz
citation ranking data\new data\oa_c5rank_2021.csv.gz
citation ranking data\new data\oa_c5rank_2022.csv.gz
citation ranking data\new data\oa_c5rank_2023.csv.gz
citation ranking data\new data\oa_c5rank_2024.csv.gz
citation ranking data\new data\oa_c5rank_2025.csv.gz
citation ranking data\older data\c5rank2020.csv
citation ranking data\older data\c5rank2021.csv
citation ranking data\older data\c5rank2022.csv
citation ranking data\older data\c5rank2023.csv
citation ranking data\older data\c5rank2024.csv
citation ranking data\older data\c5rank2025.csv
citation ranking data\older data\oa_ctotalrank_2020.csv.gz
citation ranking data\older data\oa_ctotalrank_2021.csv.gz
citation ranking data\older data\oa_ctotalrank_2022.csv.gz
citation ranking data\older data\oa_ctotalrank_2023.csv.gz
citation ranking data\older data\oa_ctotalrank_2024.csv.gz
citation ranking data\older data\oa_ctotalrank_2025.csv.gz
hit_citation_table.csv
hit_citation_with_dates.csv